body{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-top: 300px;
    background-color: #6c63ff;
}

button{

    border: none;
    background-color: white;
    color: #6c63ff ;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    margin-left: 25px;

}

