body{

    margin: 0;
    display: flex;
    justify-content: center;
    
    }
    
    .container{
        height: 590px;
        width: 250px;
        background-color: #6c63ff ;
        display: flex;
       flex-direction: row;
    }
    
    .meio{
    
        margin-left: 23px;
        margin-top: 10px;
    
    }
    
    input{
        margin-top: 20px;
        height: 30px;
        width: 90%;
        border-radius: 10px;
        border: 1px ;
    }
    
    #id{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    h1{
    margin-bottom: 20px;
    }
    
    #alterar{
        border: none;
        background-color: white;
        color: #6c63ff ;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        width: 80px;
        margin-left: 65px;
    
    }
    